---
import { SITE } from '$/config';
import { getLanguageFromUrl } from '$/lang';

import BaseLayout from '$layouts/BaseLayout.astro';

import Button from '$components/Button/index.jsx';
import AssignmentListing from '$components/Listing/index.jsx';

const { content } = Astro.props
const currentPage = Astro.request.url.pathname;
const lang = getLanguageFromUrl(currentPage);

const latestAssignments = Astro.fetchContent('./assignments/**/*.md')
  .sort((a,b) => new Date(b.period_end) - new Date(a.period_end))
  .filter((item, index) => index < 3 && item);

---
<BaseLayout addHead lang={lang} bodyClassName={`body`}>
  <style lang="scss">
    @use '../../public/styles/_var.scss' as *;

    .hero {
      position: relative;
      overflow: hidden;
      height: 28vh;

      @media (min-width: $min-mobile) {
        height: 33vw;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 2rem 1rem 1rem 2rem;

      @media (min-width: $min-mobile) {
        padding: 0 2rem 0 6rem;
      }
    }

    .hero_title {
      text-indent: -.5em;
      font-weight: 900;
      font-size: $f-u6;
      margin-bottom: 0.5rem;
      margin-top: 0;
      line-height: $f-d2;

      @media (min-width: $min-mobile) {
        font-size: $f-u7;
        text-indent: -1.5em;
        line-height: $f-d3;

      }

      .subtitle {
        display: inline;
        font-weight: 400;
        font-size: $f-d7;
        font-style: normal;
        color: $c-gray;
        line-height: 95%;
        @media (min-width: $min-mobile) {
          font-size: $f-d7;
        }
      }
    }

    .grid {
      display: grid;
      grid-gap: 2rem;
    }

    .bio {
      font-size: $f-u1;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
  </style>
  <main class="wrapper">
    <section class="hero">
        <div class="overlay">
          <h1 class="hero_title title">
            Pablo Anttila <span class="subtitle">— {content.tagline}</span>
          </h1>
        </div>
    </section>

    <div class="wrapper wrapper__readable">
      <h2 class="section_title title">{content.bio}</h2>
      <div class="bio">
        <slot></slot>
      </div>

      <div class="mt4 mb8">
        <a href="/assets/Cv_PabloAnttila_2021.pdf" download class="mr2">
          <Button>{content.download}<span class="ml1 mt0 mb0 f-u1">↓</span> 
        </Button>
        </a>
        <a href="https://www.linkedin.com/in/pablo-a-bb84a24/" class="mt2">
          <Button>{content.connect}<span class="ml1 mt0 mb0 f-u1">+</span> 
        </Button>
        </a>
      </div>

      <blockquote class="f-u4 mt4">
        Från e-handelsvärlden bär Pablo med sig goda kunskaper från vad som driver försäljning och var man tappar en potentiell kund. Att hela tiden kunna se påverkan och effekt av resten av domänen är något han bidrar med i alla projekt han deltar i.
        <span><strong>Tomas Näslund</strong>, Deputy CEO at R2M </span>
      </blockquote>
    </div>
  </main>
  <aside />
</BaseLayout>
