---
import { SITE } from '$/config'
import { getLanguageFromUrl } from '$/lang';

import BaseLayout from '$layouts/BaseLayout.astro';
import AsideCode from '$components/Common/Aside-code.jsx';

const { content } = Astro.props
const currentPage = Astro.request.url.pathname;
const lang = getLanguageFromUrl(currentPage);

// Dynamic pull of content – render buildtime
const gists = await fetch(`https://api.github.com/users/papplo/gists`).then(res => res.json());
const contents = await fetch('https://gist.githubusercontent.com/papplo/b38263c8c9e136347a585b466a97247d/raw/6c03025812ec9f4b3757636db2bfa5bf6ee716fc/The%20Virtual%20Dom.md').then(res => res.text())
---

<BaseLayout addHead lang={lang} bodyClassName="page devlog-page">
  <style lang="scss">
    @use '../../public/styles/_var.scss' as *;
    .title {
      font-size: $f-u5;
      color: $c-orange;
      font-weight: 400;
      font-style: italic;
    }
    .bio {
      font-size: $f-u1;
      line-height: 2;
      text-rendering: optimizeLegibility;
    }
  </style>
  <main class="wrapper">
    <div class="wrapper wrapper__readable mt8">
      <h2 class="title">Today I Learned</h2>
      <ul class="bio">
      {gists && gists.map(({ id, html_url, files, size, created_at}) => (
        <li>
          <a style="link" href={html_url} target="__blank">{Object.keys(files)[0]}</a>
        </li>
      ))
      }
      </ul>
    </div>
  </main>
    <AsideCode:load bgColor="#1B2630" image={false} content={contents} />
</BaseLayout>
